:host {
  display: flex;
  flex: 1;
}

.container {
  background-image: linear-gradient(-10deg, #ff6e40 34.2%, #5a1313 91.1%);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  width: 100vw;

  .controle {
    box-shadow: 10px 6px 60px -4px rgba(0,0,0,0.75);
    background-color: rgba(0, 0, 0, 0.45);
    flex-direction: column;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
    color: #fff;
    padding: 40px;
    height: 570px;
    width: 400px;

    header {
      margin-bottom: 48px;
      text-align: center;

      img {
        width: 160px;
      }

      h1 {
        margin-bottom: 48px;
        font-weight: bold;
        font-size: 24px;
      }
    }

    .inicializar {
      flex-direction: column;
      align-items: center;
      display: flex;
      flex: 1;
      
      p {
        font-size: .8em;
        font-weight: 500;
        margin: 32px 0;
      }

      .play {
        margin: 0 auto;
        display: block;
      }
    }

    .seletores {
      margin-bottom: 32px;
    }

    .acoes {
      text-align: center;

      button {
        width: 120px;
      }
    }
  }
}