.container:not([hidden]) {
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.mat-progress-spinner {
  vertical-align: middle;
  display: inline-block;
}

.message {
  margin-left: 0.5em;
}
